.quantity-counter {
	display: flex;
    flex-flow: row nowrap;
    height: 33px;
    border-radius: 4px;
    margin-right: 1rem;
    width: 140px;
    background-color: $color_second;
    border: 1px solid #f0d8bf;
}
.quantity-counter__minus {
	position: relative;
	flex: 0 0 35px;
	max-width: 35px;

	cursor: pointer;
	transition: $tr;
	background-color: #f9e8d7;

	&:after {
		@include pseudo;
		left: 12px;
		top: 50%;
		transform: translateY(-50%);
		width: 12px;
		height: 3px;
		background-color: $color_main;
		z-index: 2;
	}

	&:hover {
		background-color: #f0d8bf;
	}
}
.quantity-counter__plus {
	position: relative;
	flex: 0 0 35px;
	max-width: 35px;
	cursor: pointer;
	transition: $tr;
	background-color: #f9e8d7;

	&:after {
		@include pseudo;
		right: 11px;
		top: 50%;
		transform: translateY(-50%);
		width: 12px;
		height: 3px;
		background-color: $color_main;
		z-index: 2;
	}
	&:before {
		@include pseudo;
		right: 15px;
		top: 50%;
		transform: translateY(-50%);
		width: 3px;
		height: 12px;
		background-color: $color_main;
		z-index: 2;
	}

	&:hover {
		background-color: #f0d8bf;
	}
}
.quantity-counter__input {
    height: 100%;
	input {
	    width: 100%;
	    text-align: center;
	    height: 100%;
	    border: 0;
    	background-color: $color_second;
	}
}