.breadcrumbs {
	display: inline-block;
	margin: 0 0 40px 0;
	z-index: 2;
}
.breadcrumbs__item,
.breadcrumbs__item:visited {
	position: relative;
	display: inline-block;
	font-size: 11px;
	color: $color_main;
	margin: 0 2px 0 0;
	padding: 4px;
	text-decoration: none;
	opacity: .5;

	&::after {
		position: absolute;
		content: '/';
		right: -8px;
		top: 4px;

		width: 10px;
		height: 10px;
	}

	&:first-child {
		padding-left: 0;
	}

	&:last-child::after {
		display: none;
	}

	&:hover {
		opacity: .8;
		color: $color_main;
	}
	&:hover::after {
		text-decoration: none !important; //IE 
		opacity: .5 !important;
	}
}