.accordeon-item {
	/*поведение*/
	margin: 0 0 10px 0;

  	/*стили*/
 	list-style: none;
 	text-align: center;

 	transition: 200ms;
 	text-align: left;



	&.opened {
		& > .accordeon-item__label {
			background-color: #008706;
			&:after {
				transform: translateY(-40%) rotate(225deg);
			}
		}

		.order-history__price,
        .order-history__quant,
        .order-history__total {

            // изменятеся
            transform: translateY(0);
            opacity: .43;
        }
	}
}
.accordeon-item__label {
	position: relative;
	background-color: $color_main;
	// padding: 12px 22px 45px 12px;
	padding: 12px 22px;
	color: $color_second;
	@include font-kit(22px,21px,20px,18px,17px);
	border-radius: 11px;

	cursor: pointer;

	&:after {
		@include pseudo;

		right: 20px;
		top: 50%;
		transform: translateY(-50%) rotate(45deg);

		border-bottom: 3px solid $color_second;
		border-right: 3px solid $color_second;

		width: 15px;
		height: 15px;

		transition: 250ms;
		transition-delay: 300ms;
	}


}
.accordeon-item__content {

	// padding: 10px 0 0 45px;
	padding: 20px 0;
	display: none;

	.accordeon-item {
		margin: 0px 0 15px 45px;
	 	box-shadow: 0 0 25px 1px rgba(0,0,0,.2);
	 	background-color: $color_second;
	 	border-radius: 11px;
	
		.accordeon-item__label {
			font-size: 18px;
			position: relative;
			background-color: $color_second;
			color: $color-main;


			&:after {
				@include pseudo;

				right: 20px;
				top: 50%;
				transform: translateY(-50%) rotate(45deg);

				border-bottom: 3px solid $color_main;
				border-right: 3px solid $color_main;

				width: 15px;
				height: 15px;

				transition: 250ms;
				transition-delay: 300ms;
			}
		}

		.accordeon-item__content {
			padding: 0;
		}

		&.opened {
			& > .accordeon-item__label {
				background-color: #f0d8bf;

				&:after {
					transform: translateY(-40%) rotate(225deg);
				}

				.product-list__price,
				.product-list__quant,
				.product-list__total {
					height: 100%;
					opacity: 1;
					transform: translateY(0);
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.accordeon-item__content {
		padding: 20px 10px;
	}	
}

@media screen and (max-width: 568px) {
	.accordeon-item__content {
		padding: 10px 0;
		.accordeon-item {
			margin: 0px 0 15px 25px;
		}
	}
	.accordeon-item__label {
		padding: 12px 30px 15px 12px;
			&:after {
				width: 12px;
				height: 12px;
			}
	}
	.accordeon-item__content {
		padding: 20px 0px;

		.accordeon-item {
			.accordeon-item__content {padding: 0 0;}
		}
	}	
	.order-contents {
		li {padding: 35px 15px;}
	}

	.accordeon-item__content {

		.accordeon-item {
			margin: 0px 0 15px 25px;
			.accordeon-item__label {
				font-size: 16px;

				&:after {
					border-bottom: 2px solid $color_main;
					border-right: 2px solid $color_main;

					width: 10px;
					height: 10px;
				}
			}
		}
	}
}
